
    <style>
        .questionstate {
            width: 1125px;
            height: 50px;
            background: #fff;
            margin-left: 105px;
            margin-bottom: 10px;
        }

        .mymanues {
            text-align: center;
            float:left;
        }

            .mymanues li {
                list-style: none;
                float: left;
                line-height: 50px;
                border-right: 1px solid #f0f0f0;
                padding: 0 30px;
            }

            .mymanues a {
                color: #555;
                font-weight: 600;
            }

        .activestate {
            background-color: #64b1cb;
        }

        .second_tips {
            margin-left: 1025px;
            width: 100px;
            height: 50px;
            text-align: center;
            line-height: 50px;
            background: #64b1cb;
            font-size: 16px;
            color: #fff;
            display: block;
        }
    </style>
<div class="questionstate">
            <div class="mymanues">
                <ul>
                    <li class="activestate"><a href="index.html">全部问答</a></li>
                    <li><a href="about.html">待回答</a></li>
                    <li><a href="features.html">已解决</a></li>
                    <li><a href="travel.html">标签</a></li>
                    <li><a href="fashion.html">专家问答</a></li>
                </ul>
            </div>
            <div class="second_tips">
                我要提问
            </div>
        </div>
