@{
    ViewBag.Title = "ForgetThePassword";
}

@{
    ViewBag.Title = "登录";
}

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>找回密码</title>
    <link href="~/Content/CSS/login/common.css" rel="stylesheet" />
    <link href="~/Content/CSS/login/reset.css" rel="stylesheet" />
    <script src="~/Content/JS/jquery-2.1.1.min.js"></script>
    <script src="~/Content/layer/layer.js"></script>
    <script src="~/Content/Vue/vue2.2.4.js"></script>
    <script src="~/Content/Vue/jquery.min.js"></script>
    <script src="~/Content/JS/Verification.js"></script>
    <script>

        $(function () {
            var _ve = new Vue({
                el: "#loginform",
                data: {
                    username: "",
                    newpassword: "",
                    code: ""
                }
            });
            //监控手机号的输入，验证手机号是否符合规则
            _ve.$watch("username", function (newValue, oldVlue) {
                if ((newValue.length >= 11 && !$.isPoneAvailable(newValue)) || isNaN(newValue)) {
                    $("#username").parent().addClass("border_red_2");
                }
                else {
                    $("#username").parent().removeClass("border_red_2");
                }
            });


            var _time = 300;

            $("input[type=button]").click(function () {
                var _th = $(this);
                var _data = _ve.$data;

                if (_data.username == "") {
                    $.Message("请输入手机号");
                    return;
                }
                if ((!$.isPoneAvailable(_data.username)) || isNaN(_data.username)) {
                    $.Message("手机号格式不正确");
                    return;
                }
                if (_data.newpassword == "") {
                    $.Message("请输入密码");
                    return;
                }

                if (!$("input[type=button]").attr("readonly")) {
                    _th.addClass("background_gray")
                    _th.attr("readonly", true);
                    //请求后台，发送验证码
                    $.ajax({
                        url: "/Login/ForgetCode",
                        data: { phone: _data.username },
                        type: "post",
                        success: function (result) {
                            if (result.Result_Code == "000000") {
                                var _daoji = setInterval(function () {
                                    _th.val("已发送(" + _time + ")");
                                    _time = _time - 1;
                                    if (_time < 0) {
                                        clearInterval(_daoji);
                                        _th.val("重新发送");
                                        _th.removeClass("background_gray");
                                        _time = 300;
                                        _th.attr("readonly", false);
                                    }
                                }, 1000);
                            }
                            else {
                                $.Message(result.Result_Title);
                                _th.removeClass("background_gray")
                                _th.attr("readonly", false);
                            }
                        }
                    });

                }
            });

            $("#but").click(function () {
                //获取注册数据
                var _val = _ve.$data;

                //验证是否输入手机号
                if (_val.username == "" || _val.username == null) {
                    $.Message("请输入手机号");
                    return;
                }
                //验证手机号
                if (!$.isPoneAvailable(_val.username)) {
                    $.Message("输入的手机号格式不正确");
                    return;
                }
                //获取是否输入密码
                if (_val.newpassword == "" || _val.newpassword == null) {
                    $.Message("请输入密码");
                    return;
                }
                //验证验证码是否输入
                if (_val.code == "" || _val.code == null) {
                    $.Message("请输入验证码");
                    return;
                }
                //判断时间是否过时
                if (_time < 0) {
                    $.Message("验证码超时，请重新获取验证码");
                    return;
                }

                //请求后台录入数据
                $.ajax({
                    url: "/Login/ForgetSucc",
                    type: "post",
                    data: { newpassword: _val.newpassword, code: _val.code },
                    success: function (result) {
                        if (result.Result_Code == "000000") {
                            location.href = "/Login/LoginIndex";
                        }
                        else {
                            $.Message(result.Result_Title);
                        }
                    }
                });

            });
        });
    </script>

    <style>
        .color_red {
            color: red !important;
        }

        .border_red_2 {
            border: 2px solid red !important;
        }

        .background_gray {
            background: gray !important;
        }
    </style>
</head>
<body>



    <div class="wrap login_wrap">
        <div class="user_menu">

            <div class="logo"></div>

            <div class="login_box">

                <div class="login_form" style="height: 350px;">
                    <div class="login_title">
                        找回密码
                    </div>
                    <div id="loginform">

                        <div class="form_text_ipt" style="box-shadow: none;">
                            <input name="username" id="username" v-model="username" type="text" placeholder="手机号" value="@(ViewData["phone"] != null ? ViewData["phone"].ToString() : "")"/>
                        </div>
                        <div class="form_text_ipt" style="box-shadow: none;">
                            <input name="newpassword" id="newpassword" v-model="newpassword" type="password" placeholder="新密码" />
                        </div>
                        <div class="form_text_ipt" style="box-shadow: none; display: flex; flex-direction: row;">
                            <input name="code" id="code" v-model="code" type="text" placeholder="验证码" style="width: 180px !important;" />
                            <input type="button" value="获取验证码" style="width: 130px; height: 40px; margin-top: -0px; float: right; margin-right: -0px; background: red; color: white; font-size: 10px;" />
                        </div>
                        <div class="form_btn">
                            <button type="button" id="but">找回密码</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

